.lesson-four-task-one button:hover {
  color: red;
  background: yellow;
}

.title:hover {
  background: green;
}

.link:visited {
  color: yellow;
}

.link:link {
  color: red;
}

.card-body .lesson-four-task-five button:active {
  background-color: blue;
}

.card-body .lesson-four-task-six button:focus {
  background: orange;
  color: orange;
}

.card-body .lesson-four-task-seven #target:target {
  background: green;
  color: white;
}

.card-body .lesson-four-task-eight input:checked ~ div {
  background: blue;
  color: white;
}

.card-body .lesson-four-task-nine p:lang(uk) {
  color: blue;
}

.card-body .lesson-four-task-ten input:enabled {
  background: yellow;
  color: red;
}

.card-body .lesson-four-task-eleven input:disabled {
  background: yellow;
}

.card-body .lesson-four-task-twelve input:read-write {
  background: yellow;
}

.card-body .lesson-four-task-thirteen input:read-only {
  background: yellow;
}

.card-body .lesson-four-task-fourteen input:valid {
  background-color: green;
}
.card-body .lesson-four-task-fourteen input:invalid {
  background-color: red;
}

.card-body .lesson-four-task-fifteen input:optional {
  background-color: red;
}

.card-body .lesson-four-task-sixteen input:out-of-range {
  color: red;
}

.card-body .lesson-four-task-seventeen input:in-range {
  color: red;
}

.card-body
  .lesson-four-task-eighteen
  input:placeholder-shown {
  background-color: red;
}

.card-body
  .lesson-four-task-nineteen
  .btn-group
  button:focus-within {
  background-color: yellow;
  color: white;
}

.card-body .lesson-four-task-twenty input:invalid {
  background-color: red;
}
